<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Profile Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Name (English):</ion-label>
      <ion-input placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Name (katakana):</ion-label>
      <ion-input placeholder="ナマエ"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Age</ion-label>
      26
    </ion-item>
    <ion-item>
      <ion-label>Birth Date</ion-label>
      Sample date
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      Male
    </ion-item>
    <ion-item>
      <ion-label>City of Residence</ion-label>
      Tokyo
    </ion-item>
    <ion-item>
      <ion-label>最寄り駅</ion-label>
      Closest Station
    </ion-item>
    <ion-item>
      <ion-label>Country of Citizenship</ion-label>
      USA
    </ion-item>
    <ion-item>
      <ion-label>Email Address</ion-label>
      Emeru
    </ion-item>
    <ion-item>
      <ion-label>Visa Status</ion-label>
      ESHIS
    </ion-item>
    <ion-item>
      <ion-label>Japanese Driver's License</ion-label>
      N
    </ion-item>
    <ion-item>
      <ion-label>Final Education</ion-label>
      Gakushi
    </ion-item>
    <ion-item>
      <ion-label>Desired Start Date</ion-label>
      ASAP
    </ion-item>
    <ion-item>
      <ion-label>Industry:</ion-label>
      <ion-select multiple="true">
        <ion-select-option value="education">Education</ion-select-option>
        <ion-select-option value="teaching">Teaching</ion-select-option>
        <ion-select-option value="information-technology">Information Technology</ion-select-option>
        <ion-select-option value="media">Media</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
