<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Create Deck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Deck Title:</ion-label>
    <ion-textarea placeholder="Enter title..." [(ngModel)]=deck.title></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-row no-padding text-center>
    <ion-col>
      <ion-button expand="block" fill="solid" color="success" [routerLink]="['/menu/first/tabs/tab1']" (click)="createDeck()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Create Deck
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
