<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Create Deck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="none">

    <form [formGroup]="createDeckForm">

      <ion-item>
        <ion-label position="floating">Deck Title:</ion-label>
        <ion-input formControlName="title" type="text" [class.invalid]="!createDeckForm.controls.title.valid && (createDeckForm.controls.title.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!createDeckForm.controls.title.valid  && (createDeckForm.controls.title.dirty || submitAttempt)">
        <p>Please enter a valid title.</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Difficulty Level:</ion-label>
        <ion-input formControlName="level" type="text" [class.invalid]="!createDeckForm.controls.level.valid && (createDeckForm.controls.level.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!createDeckForm.controls.level.valid  && (createDeckForm.controls.level.dirty || submitAttempt)">
        <p>Please enter a valid level.</p>
      </ion-item>

    </form>

  </ion-list>

<ion-footer>
  <ion-row no-padding text-center>
    <ion-col>
      <ion-button expand="block" fill="solid" color="success" (click)="createDeckAttempt()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Create Deck
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
