<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Welcome to the Resume page</p>
  <ion-list>
    <ion-item *ngFor="let resume of (resumes | async)">
      <ion-grid>
        <ion-row>
          <h3><strong>{{ resume.title }}</strong></h3>
        </ion-row>
        <ion-row>
          <p>Career Objectives: {{ resume.careerObjectives }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
